
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6" style="padding-top: 2px">
                <img src="~/MyThemplate/dist/img/eOffice-logo2.png" alt="Logo-Image" style="width: 24px; height: 24px" />
                <b>eOFFICE.NBW <i class="fas fa-angle-double-right"></i> Quản lý văn bản ký số</b>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a ng-href="~/Home/Index">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Quản lý văn bản ký số</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<section class="content" ng-controller="IndexCtrl">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9 col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <ul class="nav nav-pills">
                                <li class="nav-item">
                                    <a class="nav-link active p-1 pl-2 pr-2"
                                       href="#CVdenHC"
                                       data-toggle="tab">
                                        Danh sách văn bản ký số ({{bigTotalItems}})
                                    </a>
                                </li>
                            </ul>
                            <div class="card-tools ml-auto">
                                <button type="button" class="btn btn-primary btn-sm" ng-if="coTheTaoDon()" ng-click="MoFormThemSuaVB(null)"><i class="fas fa-plus"></i> Tạo mới</button>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle" data-toggle="dropdown" data-offset="-80">
                                        <i class="fas fa-tools"></i> Lọc
                                    </button>
                                    <div class="dropdown-menu" role="menu">
                                        <a href="#" class="dropdown-item" ng-repeat="item in FilterTT" ng-click="LocTrangThai(item.CODE)">
                                            <i class="{{item.CODE == para.LoaiLoc ? 'fas fa-check-square' : 'far fa-square'}}"></i> {{item.VALUENAME}}
                                        </a>
                                        <a href="#" class="dropdown-item" ng-click="LocTrangThai(4)">
                                            <i class="{{para.LoaiLoc == 4 ? 'fas fa-check-square' : 'far fa-square'}}"></i> VB được nhận
                                        </a>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-primary btn-sm" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="tab-content">
                            <div class="tab-pane active" id="CVdenHC">
                                <table class="table table-hover text-left mb-0">
                                    <tbody>
                                        <tr ng-repeat="item in DsVanBan">
                                            <td class="pl-3">
                                                <span class="card-title2 mb-1">
                                                    <span ng-switch="item.TrangThai">
                                                        <i class="far fa-clock text-warning" ng-switch-when="0"></i>
                                                        <i class="far fa-check-circle text-success" ng-switch-when="1"></i>
                                                        <i class="far fa-save text-dark" ng-switch-when="2"></i>
                                                    </span>
                                                    <a href="#" ng-click="MoFormChiTietVB(item)" ng-class="item.DaXem == 0 ? 'text-bold' : ''" ng-bind="'(' + item.TenLoai + ') ' + (item.IsCRForm == 1 ? item.TenLoai : item.valstring5)"></a>
                                                </span>
                                                <div class="row" ng-if="item.IsCRForm == 0">
                                                    <div class="col-lg-3 col-12 pr-0">
                                                        <h6 class="text-muted text-sm mb-1">
                                                            <span>Nơi ban hành: {{item.valstring3}}</span>
                                                        </h6>
                                                    </div>
                                                    <div class="col-lg-3 col-12 pr-0">
                                                        <h6 class="text-muted text-sm mb-1">
                                                            <span>Số/Ký hiệu: {{item.valstring1 == null ? 'Chưa cập nhật' : item.valstring1}}{{item.valstring2 == null ? '' : '/' + item.valstring2}}</span>
                                                        </h6>
                                                    </div>
                                                    <div class="col-lg-3 col-12 pr-0">
                                                        <h6 class="text-muted text-sm mb-1">
                                                            <span>Ngày tạo: {{item.NgayTao | date:'dd/MM/yyyy'}} ({{item.NguoiTao}})</span>
                                                        </h6>
                                                    </div>
                                                    <div class="col-lg-3 col-12 pr-0">
                                                        <h6 class="text-muted text-sm mb-1" ng-if="item.FileDinhKem.length > 0">
                                                            ({{item.FileDinhKem.length}})
                                                            <a class="pr-1" href="#"
                                                               ng-repeat="i in item.FileDinhKem | limitTo:1 track by $index"
                                                               ng-click="Viewfilepdf(i.ID)">
                                                                <span>
                                                                    <i class="fas fa-file-archive"></i>
                                                                    <span ng-bind="i.MOTA.length > 20 ? (i.MOTA | limitTo:20) + '...' : i.MOTA"></span>
                                                                </span>
                                                            </a>
                                                        </h6>
                                                        <h6 class="text-muted text-sm mb-1" ng-if="item.FileDinhKem.length == 0">
                                                            <i>(0) Chưa cập nhật File</i>
                                                        </h6>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer pt-3 pb-0 clearfix">
                        <ul uib-pagination
                            total-items="bigTotalItems"
                            ng-model="bigCurrentPage"
                            items-per-page="para.End"
                            ng-change="PhanTrang()"
                            max-size="maxSize"
                            first-text="&laquo;"
                            last-text="&raquo;"
                            direction-links="false"
                            class="pagination-sm float-left"
                            boundary-links="true"
                            rotate="false"></ul>
                        <button ng-click="MoFormThemSuaVB(null)"
                                ng-if="coTheTaoDon()"
                                role="button"
                                class="btn btn-sm btn-primary float-right pr-2">
                            <i class="fas fa-plus"></i> Tạo mới
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-12">
                <div class="card card-primary card-outline text-sm">
                    <div class="card-header">
                        <h3 class="card-title pt-1">Công cụ - Tiện ích</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-outline-primary btn-sm" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <form class="card card-primary" name="formfilter" novalidate>
                            <div class="card-header">
                                <h4 class="card-title w-100">
                                    <a class="d-block w-100">
                                        Lọc văn bản ký số
                                    </a>
                                </h4>
                            </div>
                            <div class="card-body">
                                <div class="form-group mb-2">
                                    <label ng-class="formfilter.loaivb.$invalid ? 'mb-1 text-danger' : 'mb-1'">Loại văn bản</label>
                                    <ui-select ng-model="vm.Loai" search-enabled="true" theme="selectize" class="inputtable" on-select="DoiLoaiVB($item)" name="loaivb" ng-required="true" readonly>
                                        <ui-select-match placeholder="Chọn loại văn bản..." style="font-size:16px">{{$select.selected.VALUENAME}}</ui-select-match>
                                        <ui-select-choices group-by="'LOAIDM'" repeat="person in dsLoaiVB| filter: $select.search">
                                            <div style="font-size:16px" ng-bind-html="person.VALUENAME | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="form-group">
                                    <label>Nhập từ khóa</label>
                                    <input type="text"
                                           class="form-control"
                                           placeholder="Trích yếu/Số và ký hiệu/Nơi ban hành ..."
                                           ng-model="para.SearchString">
                                </div>
                                <div class="form-group">
                                    <label>Tạo từ ngày</label>
                                    <div>
                                        <p class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="BeginDate" is-open="bd.opened" datepicker-options="dateOptions" close-text="Close" ng-click="openBeginDate()" readonly />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-secondary height-100" ng-click="openBeginDate()">
                                                    <i class="fa-svg-icon">
                                                        <svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M192 1664h288v-288h-288v288zm352 0h320v-288h-320v288zm-352-352h288v-320h-288v320zm352 0h320v-320h-320v320zm-352-384h288v-288h-288v288zm736 736h320v-288h-320v288zm-384-736h320v-288h-320v288zm768 736h288v-288h-288v288zm-384-352h320v-320h-320v320zm-352-864v-288q0-13-9.5-22.5t-22.5-9.5h-64q-13 0-22.5 9.5t-9.5 22.5v288q0 13 9.5 22.5t22.5 9.5h64q13 0 22.5-9.5t9.5-22.5zm736 864h288v-320h-288v320zm-384-384h320v-288h-320v288zm384 0h288v-288h-288v288zm32-480v-288q0-13-9.5-22.5t-22.5-9.5h-64q-13 0-22.5 9.5t-9.5 22.5v288q0 13 9.5 22.5t22.5 9.5h64q13 0 22.5-9.5t9.5-22.5zm384-64v1280q0 52-38 90t-90 38h-1408q-52 0-90-38t-38-90v-1280q0-52 38-90t90-38h128v-96q0-66 47-113t113-47h64q66 0 113 47t47 113v96h384v-96q0-66 47-113t113-47h64q66 0 113 47t47 113v96h128q52 0 90 38t38 90z" />
                                                        </svg>
                                                    </i>
                                                </button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Đến ngày</label>
                                    <div>
                                        <p class="input-group">
                                            <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="EndDate" is-open="ed.opened" datepicker-options="dateOptions" close-text="Close" ng-click="openEndDate()" readonly />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-secondary height-100" ng-click="openEndDate()">
                                                    <i class="fa-svg-icon">
                                                        <svg width="1792" height="1792" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M192 1664h288v-288h-288v288zm352 0h320v-288h-320v288zm-352-352h288v-320h-288v320zm352 0h320v-320h-320v320zm-352-384h288v-288h-288v288zm736 736h320v-288h-320v288zm-384-736h320v-288h-320v288zm768 736h288v-288h-288v288zm-384-352h320v-320h-320v320zm-352-864v-288q0-13-9.5-22.5t-22.5-9.5h-64q-13 0-22.5 9.5t-9.5 22.5v288q0 13 9.5 22.5t22.5 9.5h64q13 0 22.5-9.5t9.5-22.5zm736 864h288v-320h-288v320zm-384-384h320v-288h-320v288zm384 0h288v-288h-288v288zm32-480v-288q0-13-9.5-22.5t-22.5-9.5h-64q-13 0-22.5 9.5t-9.5 22.5v288q0 13 9.5 22.5t22.5 9.5h64q13 0 22.5-9.5t9.5-22.5zm384-64v1280q0 52-38 90t-90 38h-1408q-52 0-90-38t-38-90v-1280q0-52 38-90t90-38h128v-96q0-66 47-113t113-47h64q66 0 113 47t47 113v96h384v-96q0-66 47-113t113-47h64q66 0 113 47t47 113v96h128q52 0 90 38t38 90z" />
                                                        </svg>
                                                    </i>
                                                </button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <div class="pb-2 pt-1">
                                    <button type="button" class="btn btn-sm btn-primary" ng-disabled="formfilter.$invalid" ng-click="TimKiem()"><i class="fas fa-search pr-1"></i>Tìm kiếm</button>
                                    <button type="button" class="btn btn-sm btn-primary float-right" ng-click="Reset()"><i class="fas fa-ban pr-1"></i>Hủy tìm</button>
                                </div>
                            </div>
                        </form>

                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title w-100">Chú thích trạng thái văn bản</h3>
                            </div>
                            <div class="card-body">
                                <ul class="nav nav-pills flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" style="font-size:16px"><i class="far fa-clock text-warning"></i> VB chờ duyệt</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" style="font-size:16px"><i class="far fa-check-circle text-success"></i> VB đã duyệt</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#" style="font-size:16px"><i class="far fa-save text-dark"></i> VB lưu nháp</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/ng-template" id="formThemSuaVB.html">
    @Html.Partial("~/Views/VanBanKySo/AddEdit.cshtml")
</script>

<script type="text/ng-template" id="formChiTietVB.html">
    @Html.Partial("~/Views/VanBanKySo/Details.cshtml")
</script>

<script type="text/ng-template" id="modalDieuChinhVB.html">
    @Html.Partial("~/Views/Modal/ModalDieuChinhVB.cshtml")
</script>

<script type="text/ng-template" id="modalYKienXuLyVB.html">
    @Html.Partial("~/Views/Modal/ModalYKienXuLy.cshtml")
</script>

<script type="text/ng-template" id="modalChonNguoiKy.html">
    @Html.Partial("~/Views/Modal/ModalChonNguoiKy.cshtml")
</script>

<script type="text/ng-template" id="modalPhanPhatTree.html">
    @Html.Partial("~/Views/Modal/ModalPhanPhatTree.cshtml")
</script>

<script type="text/ng-template" id="modalPhanPhat.html">
    @Html.Partial("~/Views/Modal/ModalPhanPhat.cshtml")
</script>

<script type="text/ng-template" id="modalChonFileCanCu.html">
    @Html.Partial("~/Views/Modal/ModalChonFileCanCu.cshtml")
</script>

<script type="text/ng-template" id="viewPDFonline.html">
    @Html.Partial("~/Views/Viewfile/viewfilepdfonline.cshtml")
</script>

<script src="~/MyScript/features/vanbankyso/IndexCtrl.js"></script>

<script src="~/MyScript/features/vanbankyso/AddEditCtrl.js"></script>

<script src="~/MyScript/features/vanbankyso/DetailCtrl.js"></script>

<script src="~/MyScript/features/vanbankyso/ChonFileCanCuCtrl.js"></script>

<script src="~/MyScript/features/vanbankyso/ChonNguoiKyVBKySoCtrl.js"></script>

<script src="~/MyScript/features/vanbankyso/DieuChinhSoVBKySoCtrl.js"></script>

<script src="~/MyScript/features/vanbankyso/SoanYKienXuLyVBKySoCtrl.js"></script>

<script src="~/MyScript/features/phanphat/phanPhatTreeCtrl.js"></script>

<script src="~/MyScript/features/phanphat/phatPhatVBCtrl.js"></script>

<script src="~/MyScript/features/viewfile/viewFileReportCtrl.js"></script>
